/*сss reset*/
body,
h1,
h2,
h3,
h4,
p,
ul,
li { margin: 0; }

li { list-style-type: none; }
/************/

body {
  display: flex;
  flex-direction: column;
  font: 400 16px/1.5 "Roboto", sans-serif, Helvetica, Arial;
  line-height: 1.5;
  background-color: #d0d0d0;
}

.content_wraper {
  margin: auto;
  max-width: 1300px; 
}

header {
  padding: 15px;
  height: 160px;
  font-size: 3.5rem;
  background: #af5555;
}

section { padding: 10px; }

section:nth-child(even) { background-color: #ededed; }

section:nth-child(odd) {   background-color: #fff; }

footer {
  display: flex;  
  justify-content: center;
  align-items: center; 
  height: 50px;
  font-size: 20px;
  background: #af5555; 
}

p { padding-left: 40px; }

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
  margin: auto;
  margin: 0 auto;
  padding: 0 32px;
  min-width: 1024px;
  max-width: 1164px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}

.avatar_container {
  margin-left: auto; 
  width: 150px;  
}
.avatar {
  border-radius: 50%;  
  box-shadow: 0 0 0 3px #c4636a, 0 0 13px #333;
}

.rs-logo {
  height: 35px;
  margin-left: 10px;
}

.contact_list span { font-weight: bold; }
